<!-- templates/fragments/admin_sidebar.html -->
<div th:fragment="sidebar" class="sidebar">
  <h2><i class="fas fa-chart-line"></i> Dashboard</h2>

  <a href="/admin/account/account_detail"><i class="fas fa-users-cog"></i> Admin Accounts</a>
  <a href="/admin/signup/requests"><i class="fas fa-user-plus"></i> Signup Requests</a>
  
  <a href="#"><i class="fas fa-user"></i> Members</a>
  <a href="#"><i class="fas fa-graduation-cap"></i> Courses</a>
  <a href="#"><i class="fas fa-bell"></i> Subscriptions</a>
  <a href="#"><i class="fas fa-credit-card"></i> Payments</a>
<a href="#"><i class="fas fa-hand-holding-heart"></i> Donation</a>
  <a href="#"><i class="fas fa-comments"></i> Community</a>
  <a href="#"><i class="fas fa-exclamation-triangle"></i> Reports</a>
  <a href="#"><i class="fas fa-headset"></i> Support</a>
</div>
