<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- favicon 설정 -->
<<<<<<<< HEAD:src/main/resources/templates/sgm/main.html
<link rel="icon" href="http://localhost/images/favicon.ico">
<!-- bootstrap CDN -->
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
<style type="text/css">


</style>


========
<link rel="shortcut icon" href="http://192.168.10.96/images/favicon.ico"/>
<!-- bootstrap CDN -->
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css
"/>
<style type="text/css"> 
 
</style>
>>>>>>>> 221c41c125989c82ed87d555b428529084e52bf1:src/main/resources/templates/admin/log/payment_log.html
<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
<<<<<<<< HEAD:src/main/resources/templates/sgm/main.html
$(function() {
========
$(function(){
>>>>>>>> 221c41c125989c82ed87d555b428529084e52bf1:src/main/resources/templates/admin/log/payment_log.html

});
</script>

</head>
<body>


</body>
</html>